.git
.gitignore
.dockerignore
.github
.vscode
.idea
.DS_Store
**/__pycache__
**/*.pyc
**/.venv
**/venv
**/node_modules
**/dist
**/build
**/.vite
.env
**/.env
!**/.env.example
*.md
!README.md
discord_bot
init-new-repo.sh
